<div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a ng-href="#top">Rate</a></li>
      <li><a href="/#/#toplist">Top List</a></li>
      <li><a href="/#/#submit">Submit</a></li>
      <li><a href="/#/#about">About</a></li>
    </ul>
    <h3 class="text-muted">rate my ____</h3>
</div>

<div class="row">
  <div class="col-xs-6" style="text-align:center">
    <h2 style="text-align:center">Awesome Gadget</h2>
    <div class="btn">
      <div class="circular" style="background:url('http://lorempixel.com/151/150/')"> <img src="http://lorempixel.com/151/150/" height="150" width="150" />
      </div>
      <p><a class="btn-lg btn-success" ng-href="#">Vote</a></p>
    </div>
  </div>
  <div class="col-xs-6" style="text-align:center">
    <h2>Amazing Widget</h2>
    <div class="btn">
      <div class="circular" style="background:url('http://lorempixel.com/150/151/')"><img src="http://lorempixel.com/150/151/" height="150" width="150" />
    </div>
      <p><a class="btn-lg btn-success" ng-href="#">Vote</a></p>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <a name="toplist"> </a><h2 class="col-xs-12">Top List</h2>
  <div  class="col-xs-6">
    <ul>
      <li>1.</li>
      <li>2.</li>
      <li>3.</li>
      <li>4.</li>
      <li>5.</li>
    </ul>
  </div>
  <div  class="col-xs-6">
    <ul>
      <li>6.</li>
      <li>7.</li>
      <li>8.</li>
      <li>9.</li>
      <li>10.</li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
<a name="submit"> </a><h2 class="col-xs-12">Submit</h2>
  <div  class="col-xs-12">
    Submit form will go here.
  </div>
</div>

<hr>

<div class="row">
  <a name="about"> </a><h2 class="col-xs-12">About</h2>
  <div class="row marketing">
  <h4>Submit from any device!</h4>
  <p>
    Any device that can send a picture message or e-mail with picture attachment can submit to rate my ____
  </p>

  <h4>100% Anonymous Submissions</h4>
  <p>
    All submissions are process to remove all metadata and identifying information (including location, EXIF, timestamp, etc..).  Once the information has been removed the original image is removed from memory and no trace of the submission other than the stripped copy and your unique anonymous ID are stored.
  </p>

  <h4>100% Open Source</h4>
  <p>We believe that things should be free and open source, because well that's how I got my start in programming.  Feel free to check out my BitBucket page (<a href="//bitbucket.org/bryankaraffa" target="_blank">bitbucket.org/bryankaraffa</a>) for all my projects
  </p>
</div>
</div>

<div class="footer">
  <p>♥ from the <a href="//bitbucket.org/bryankaraffa" target="_blank">rate my ____ team</a></p>
</div>
